.container {
  background-color: #252934;
  display: flex;
  position: relative;
  overflow: hidden;
}

.content {
  color: #fff;
  display: flex;
}

.title {
  font-family: var(--secondary-font);
  padding-bottom: 5rem;
  line-height: 10rem;
  letter-spacing: 0.3rem;
  font-size: clamp(7rem, 10vw, 15rem);
  color: #1b242f;
}

.paragraph {
  padding: 0.5rem 8rem 2.5rem 2rem;
  color: #d9d8d7;
  font-size: clamp(1rem, 1.8vw, 1.2rem);
  letter-spacing: 0.2rem;
  line-height: 2.5rem;
  font-weight: 100;
}

@media (max-width: 688px) {
  .container {
    /* border: solid 1px red; */
    padding: 0 4.5rem;
    padding-bottom: 10rem;
  }

  .content {
    /* border: solid 1px blue; */
    display: flex;
    flex-flow: column nowrap;
    padding: 0;
    margin: 0;
  }

  .title {
    text-align: center;
  }

  .paragraph {
    /* border: solid 1px purple; */
    line-height: 2.2rem;
    text-align: center;
    padding: 0 0 0 0;
    margin: 0;
  }
}

@media (min-width: 689px) and (max-width: 992px) {
  .content {
    flex-flow: column nowrap;
    padding-bottom: 12vh;
    height: 90vh;
    justify-content: center;
  }

  .title {
    text-align: end;
    padding-right: 5rem;
    /* padding-bottom: 5rem; */
  }

  .paragraph {
    padding-top: 1rem;
    padding-bottom: 0.5rem;
  }
}

@media (min-width: 993px) {
  .container {
    padding: 1.5rem 5%;
    justify-content: center;
    align-items: center;
    height: 80vh;
  }

  .content {
    flex-flow: row nowrap;
  }

  .title {
    text-align: end;
  }

  .paragraph {
    padding-top: 0;
    padding-bottom: 0;
  }
}
