.about {
    position: relative;
    display: flex;
    padding: 5rem 2rem;
    justify-content: space-around;
    background: #fff;
}

.aboutText {
    width: 50%;
    text-align: center;
    margin: 6rem 0 3rem 0;
}

.aboutImage {
    display: grid;
    width: 50%; 
}

.aboutText .p {
    margin-top: 2rem;
    line-height: 2.1;
}

.btn {
    color: #56B4A1;
    background: #fff;
    padding: 0.5rem;
    border-radius: 5%;
    text-decoration: none;
    border: solid #56B4A1 1px;
}



