.bottomDivider {
  position: absolute;
  display: block;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.bottomDivider .svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 159px;
  transform: rotateY(180deg);
}

.bottomDivider .shapeFill {
  fill: var(--bg-primary-color);
}

@media (max-width: 688px) {
  .bottomDivider {
    display: none;
  }
}
