.contactWrapper {
    display: flex;
    position: relative;
    justify-content: center;
}

.contactContent {
    line-height: 2.1;
    width: 600px;
    color: #fff;
    text-align: center;
    margin: 5rem 0 15rem 0;
}