.footerWrapper {
    background: rgb(251, 251, 251);
    color: #56B4A1;
    text-align: center;
    padding: 1.2rem 0;
}

.h2 {
    font-size: 1.5rem;
}

.sociaMediaLinks {
    margin: 1.5rem 0;
    gap: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}