@import url("https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&family=Space+Mono:ital,wght@0,400;0,700;1,400&display=swap");

:root {
  --font-size: 1.2rem;
  --primary-font: 'Fira Mono', monospace;
  --secondary-font: "Space Mono", monospace;
  --bg-primary: #56b4a1;
  --text-primary: #b6b6b6;
  --text-secondary: #1e1c1b;
  --mobile-nav-primary: #23232e;
  --mobile-nav-secondary: #141418;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  /* scroll-behavior: smooth; */
}

body {
  margin: 0;
  padding: 0;
  /* background: var(--bg-primary); */
  font-family: var(--primary-font);
  font-size: var(--font-size);
  overflow-x: hidden;
}

h1,
h2,
h3,
ul,
li,
p,
a {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: var(--text-primary);
  text-decoration: none;
}

a:hover {
  color: var(--text-secondary);
}
