@import url("https://fonts.googleapis.com/css2?family=Anton&family=Montserrat:ital,wght@1,100;1,200;1,400&display=swap");

:root {
  --primary-font: "Montserrat", sans-serif;
  --secondary-font: "Anton", sans-serif;
  --bg-primary-color: #1b242f;
  --bg-secondary-color: #252934;
  --accent-primary-color: #ff4c7a;
  --accent-active-primary-color: #922e47;
  --accent-secondary-color: #141418;
  --text-primary-color: #cfcece;
  --text-secondary: #1e1c1b;
  --mobile-nav-primary: #23232e;
  --mobile-nav-secondary: #141418;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: var(--bg-primary-color);
}

html {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr;
  /* padding: 1rem; */
}

body {
  font-family: var(--primary-font);
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  flex-basis: 100%;
  cursor: url('/website.svg'), auto;
}

h1,
h2,
h3,
ul,
li,
p,
a {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: var(--text-primary-color);
  text-decoration: none;
}

/* a:hover {
  color: var(--accent-primary-color);
} */

.spinner {
  background-color: var(--bg-primary-color);
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/**
* ----------------------------------------
* animation shadow-pop-tr
* ----------------------------------------
*/
@-webkit-keyframes shadowPop {
  0% {
    -webkit-box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e,
    0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
    box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e,
    0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
    -webkit-transform: translateX(0) translateY(0);
    transform: translateX(0) translateY(0);
  }
  100% {
    -webkit-box-shadow: 1px -1px #3e3e3e, 2px -2px #3e3e3e, 3px -3px #3e3e3e,
    4px -4px #3e3e3e, 5px -5px #3e3e3e, 6px -6px #3e3e3e, 7px -7px #3e3e3e,
    8px -8px #3e3e3e;
    box-shadow: 1px -1px #3e3e3e, 2px -2px #3e3e3e, 3px -3px #3e3e3e,
    4px -4px #3e3e3e, 5px -5px #3e3e3e, 6px -6px #3e3e3e, 7px -7px #3e3e3e,
    8px -8px #3e3e3e;
    -webkit-transform: translateX(-8px) translateY(8px);
    transform: translateX(-8px) translateY(8px);
  }
}
@keyframes shadowPop {
  0% {
    -webkit-box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e,
    0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
    box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e,
    0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
    -webkit-transform: translateX(0) translateY(0);
    transform: translateX(0) translateY(0);
  }
  100% {
    -webkit-box-shadow: 1px -1px #3e3e3e, 2px -2px #3e3e3e, 3px -3px #3e3e3e,
    4px -4px #3e3e3e, 5px -5px #3e3e3e, 6px -6px #3e3e3e, 7px -7px #3e3e3e,
    8px -8px #3e3e3e;
    box-shadow: 1px -1px #3e3e3e, 2px -2px #3e3e3e, 3px -3px #3e3e3e,
    4px -4px #3e3e3e, 5px -5px #3e3e3e;
    -webkit-transform: translateX(-8px) translateY(8px);
    transform: translateX(-8px) translateY(8px);
  }
}

.shadow-pop {
  -webkit-animation: shadowPop 0.8s cubic-bezier(0.47, 0, 0.745, 0.715) both;
  animation: shadowPop 0.8s cubic-bezier(0.47, 0, 0.745, 0.715) both;
}



/**
* ----------------------------------------
* animation fade-in
* ----------------------------------------
*/
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-in {
  -webkit-animation: fadeIn 3s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fadeIn 3s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

/* /// scrollbar styles /// */
::-webkit-scrollbar {
  width: 1vw;
}

::-webkit-scrollbar-track {
  background-color: var(--bg-primary-color);
  border-radius: 100vw;
  margin-block: 1vh;
}

::-webkit-scrollbar-thumb {
  background-color: var(--accent-primary-color);
  border: 0.15vw solid var(--bg-primary-color);
  border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--accent-primary-color);
}

@media (max-width: 992px) {
  ::-webkit-scrollbar {
    width: 0;
  }
}