@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Cabin+Sketch:wght@400;700&family=Londrina+Sketch&family=Love+Ya+Like+A+Sister&family=Poppins:ital,wght@0,100;0,200;1,100;1,200&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
  --font-size: 1.2rem;
  --primary-font: "Poppins", sans-serif;
  --secondary-font: "Space Mono", monospace;
  --bg-primary: #56B4A1;
  --text-primary: #fff;
  --text-secondary: #1E1C1B;
  --mobile-nav-primary: #23232e;
  --mobile-nav-secondary: #141418;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: var(--bg-primary);
  font-family: var(--primary-font);
  font-size: var(--font-size);
}

h1,
h2,
h3,
ul,
li,
p,
a {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: var(--text-primary);
  text-decoration: none;
}

a:hover {
  color: var(--text-secondary);
}
