.container {
  /* border: solid 2px red; */
  /* border: 2px solid red; */
  background-image: url("/bgalt.svg");
  height: 100%;
  width: 100vw;
  /* text-align: center; */
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: center; */
  /* align-items: center; */
}