.container {
  background-image: url("/bgalt.svg");
  border: solid 3px purple;
  /* background-size: cover; */
  /* background-repeat: no-repeat; */
  display: flex;
  flex-flow: column nowrap;
  /* align-items: center; */
  background-color: var(--bg-primary-color);
  /* position: relative; */
  /* height: 100%; */
  width: 100vw;
  /* margin: 1%; */
  /* overflow-x: hidden; */
}
