.container {
  background-image: url("/bgalt.svg");
  height: 100%;
  width: 100vw;
}

.spinner {
  background-color: #1b242f;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
