.navbarContainer {
  /* border: solid 2px rgb(47, 0, 255); */
  /* max-width: 1500px; */
  /* width: min(70%, 1500px); */
  font-weight: 200;
  position: fixed;
  display: flex;
  flex-flow: column;
  min-height: 12vh;
  width: 100%;
  z-index: 100;
  top: 0;
}

.ul {
  /* border: solid 2px rgb(0, 128, 43); */
  flex: 1; /* take available space */
  /* overflow: auto; */
}

#logoText,
.arrow,
.linkIcon {
  display: none;
}
/* //////////////////// */
.linkText,
.linkText::after {
  /* border: solid 2px red; */
  color: rgb(255, 255, 255);
  font-size: 1.3rem;
}

/* ///////////////////////////// */

@media (max-width: 688px) {
  /* phones */
  .navbarContainer {
    /* border: 3px rgb(25, 24, 96) solid; */
    box-shadow: rgb(0, 0, 0) 0px 22px 70px 4px;
    background-color: var(--mobile-nav-primary);
    transition: width 800ms ease;
    flex-basis: 3.2rem;
    height: 100%;
    width: 4rem;
    /* top: 0; */
    z-index: 100;
    top: 0;
    left: 0;
  }

  .activeMobileMenu {
    width: 15rem;
  }

  .activeMobileMenu .linkText {
    display: block;
    filter: grayscale(0%) opacity(1);
    color: #ececec;
  }

  .activeMobileMenu .navLink {
    filter: grayscale(0%) opacity(1);
    /* color: #ececec; */
  }

  .activeMobileMenu .arrow {
    margin-left: 10rem;
    transform: rotate(-540deg);
  }

  .activeMobileMenu #logoText {
    padding-left: 1.5rem;
    left: 0;
  }

  .arrow {
    min-height: 3rem;
    min-width: 3rem;
    transition: 800ms ease;
  }

  .dogHouse {
    display: none;
  }

  #logoText,
  .arrow,
  .linkIcon {
    display: block;
  }

  .ul {
    /* border: solid 1px rgb(217, 255, 0); */
    height: 100%;
    width: 100%;
    display: flex;
    /* border: solid 2px rgb(0, 128, 43); */
    flex: 1; /* take available space */
    overflow: auto;
    flex-direction: column;
    gap: 3rem;
  }

  .logo .linkIcon {
    transition: 800ms;
  }

  #logoText {
    display: inline;
    position: absolute;
    left: -150%;
    transition: 800ms ease;
  }

  #logo {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 6rem;
    color: #ececec;
    background: #141418;
    font-size: 1.5rem;
    letter-spacing: 0.3ch;
  }

  .li {
    width: 100%;
    text-align: center;
  }

  .navLink {
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: 800ms;
  }

  .navLink .linkIcon {
    width: 3.8rem;
    padding: 0 0.8rem 0 0.8rem;
  }

  .linkText {
    display: none;
  }
}

@media (min-width: 689px) and (max-width: 992px) {
  /* ipads, tablets */
  .ul {
    /* border: solid 2px purple; */
    padding-top: 1.5rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 2rem;
  }

  .ul .li:first-child {
    flex-basis: 100%;
    text-align: center;
  }
}

@media (min-width: 993px) {
  /* laptops, desktops */

  .ul {
    /* margin-top: 1.5rem; */
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    padding: 0 10vw;
    gap: 2rem;
  }

  .ul .li:first-child {
    /* border: solid 1px red; */
    flex-basis: 100%;
  }

  /* .navLink {
      display: flex;
      align-items: center;
  } */
}

/* ///////////////////////////////////////// */
/* /////////// button animation //////////// */
/* ///////////////////////////////////////// */

.testing {
  background: linear-gradient(45deg, transparent 5%, #1B242F 5%);
  border: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.5rem;
  color: #fff;
  letter-spacing: 3px;
  line-height: 88px;
  box-shadow: 6px 0px 0px #652157;
  outline: transparent;
  position: relative;
  border: 0;
  letter-spacing: 3px;
}

.testing::after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);

  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    45deg,
    transparent 3%,
    #92307f 3%,
    #4B2958 5%,
    #652157 5%
  );
  clip-path: var(--slice-0);
}

.testing:hover::after {
  animation: 1s glitch;
  animation-timing-function: steps(2, end);
}

@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }
  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }
  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }
  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }
  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }
  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
  }
  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }
  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }
  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }
  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }
  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}
