/**
* ----------------------------------------
* button animation
* ----------------------------------------
*/
@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }
  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }
  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }
  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }
  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }
  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
  }
  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }
  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }
  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }
  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }
  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}

.navbarContainer {
  font-weight: 200;
  position: fixed;
  display: flex;
  flex-flow: column;
  min-height: 12vh;
  width: 100%;
  z-index: 100;
  top: 0;
}

#logoText,
.arrow,
.linkIcon {
  display: none;
}

/**
* ----------------------------------------
* mobile
* ----------------------------------------
*/
@media (max-width: 688px) {
  .navbarContainer {
    box-shadow: rgb(0, 0, 0) 0px 22px 70px 4px;
    background-color: var(--mobile-nav-primary);
    transition: width 800ms ease;
    flex-basis: 3.2rem;
    height: 100%;
    width: 3.5rem;
    z-index: 100;
    top: 0;
    left: 0;
  }

  .active {
    background-color: #141418;
  }

  .activeMobileMenu {
    width: 100vw;
  }

  .activeMobileMenu .linkText {
    display: block;
  }

  .activeMobileMenu .navLink {
    filter: grayscale(0%) opacity(1);
    padding-right: 0.5rem;
  }

  .activeMobileMenu .arrow {
    margin-left: 80vw;
    transform: rotate(-540deg);
  }

  .activeMobileMenu #logoText {
    padding-left: 1.5rem;
    left: 0;
  }

  .arrow {
    margin: 0 0.5rem;
    min-height: 3rem;
    min-width: 4rem;
    transition: 800ms ease;
  }

  .dogHouse {
    display: none;
  }

  #logoText,
  .arrow,
  .linkIcon {
    display: block;
  }

  .ul {
    height: 100%;
    width: 100%;
    display: flex;
    flex: 1;
    overflow: auto;
    flex-direction: column;
    overflow: hidden;
    gap: 3rem;
  }

  .logo .linkIcon {
    transition: 800ms;
  }

  #logoText {
    display: inline;
    position: absolute;
    left: -170%;
    transition: 800ms ease;
  }

  #logo {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 6rem;
    background: #141418;
    font-size: 1.5rem;
    letter-spacing: 0.3ch;
  }

  .li {
    width: 100%;
    text-align: center;
  }

  .navLink {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5rem;
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: 800ms;
  }

  .activeNavItem {
    border: solid 2px red;
    filter: none;
  }

  .navLink .linkIcon {
    width: 3.8rem;
    padding: 0 0.8rem 0 0.8rem;
  }

  .linkText {
    display: none;
  }
}

/**
* ----------------------------------------
* tablet, ipad
* ----------------------------------------
*/
@media (min-width: 689px) and (max-width: 992px) {
  .ul {
    padding-top: 1.5rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 2rem;
  }

  .ul .li:first-child {
    flex-basis: 100%;
    text-align: center;
  }

  .linkText {
    background: linear-gradient(45deg, transparent 5%, #1b242f 5%);
    border: 0;
    padding: 0.5rem;
    letter-spacing: 3px;
    line-height: 88px;
    box-shadow: 6px 0px 0px #ff4c7a;
    outline: transparent;
    position: relative;
    border: 0;
    letter-spacing: 3px;
  }

  .linkText:hover {
    color: var(--accent-primary-color);
  }

  .linkText::after {
    --slice-0: inset(50% 50% 50% 50%);
    --slice-1: inset(80% -6px 0 0);
    --slice-2: inset(50% -6px 30% 0);
    --slice-3: inset(10% -6px 85% 0);
    --slice-4: inset(40% -6px 43% 0);
    --slice-5: inset(80% -6px 5% 0);
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(
      45deg,
      transparent 3%,
      #ff4c7a 3%,
      #ff4c7a 5%,
      #ff4c7a 5%
    );
    clip-path: var(--slice-0);
  }

  .linkText:hover::after {
    animation: 1s glitch;
    animation-timing-function: steps(2, end);
  }
}

/**
* ----------------------------------------
* desktop
* ----------------------------------------
*/
@media (min-width: 993px) {
  .ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    padding: 2vh 10vw 1vh 10vw;
    gap: 2rem;
  }

  .ul .li:first-child {
    flex-basis: clamp(40%, 30vw, 50%);
  }

  .linkText {
    background: linear-gradient(45deg, transparent 5%, #1b242f 5%);
    text-align: start;
    border: 0;
    padding: 0.8rem;
    letter-spacing: 3px;
    line-height: 88px;
    box-shadow: 6px 0px 0px #ff4c7a;
    outline: transparent;
    position: relative;
    border: 0;
    letter-spacing: 3px;
  }

  .linkText:hover {
    color: var(--accent-primary-color);
  }

  .linkText::after {
    --slice-0: inset(50% 50% 50% 50%);
    --slice-1: inset(80% -6px 0 0);
    --slice-2: inset(50% -6px 30% 0);
    --slice-3: inset(10% -6px 85% 0);
    --slice-4: inset(40% -6px 43% 0);
    --slice-5: inset(80% -6px 5% 0);

    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(
      45deg,
      transparent 3%,
      #ff4c7a 3%,
      #ff4c7a 5%,
      #ff4c7a 5%
    );
    clip-path: var(--slice-0);
  }

  .linkText:hover::after {
    animation: 1s glitch;
    animation-timing-function: steps(2, end);
  }
}
