.main {
  /* border: solid 2px blue; */
  background-color: var(--bg-primary-color);
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}

.h2 {
  letter-spacing: 0.2rem;
}

.projectList {
  /* border: solid 2px red; */
  width: 100vw;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.projectItem {
  border: solid 2px #141418;
  display: grid;
  height: 20vw;
  width: 20vw;
  transition: transform 0.4s, box-shadow 0.4s;
  transition-timing-function: ease;
}

.projectItem:hover {
  /* border: red solid 3px; */
  box-shadow: 5px 5px 1px #141418;
  transform: translateX(-8px) translateY(-8px);
}

.projectItem:hover .cardDescription {
  color: var(--accent-primary-color);
  /* font-weight: 100; */
}

.projectItem:hover .techIcons {
  color: var(--accent-primary-color);
  /* font-weight: 100; */
}

.card {
  /* border: solid 0.5px red; */
  /* background-color: rgba(24, 51, 42, 0.38); */
  /* background-image: url("/card-banner-trans.svg"); */
  /* display: flex; */
  background-position: center;
  /* background-color: #1b242f65; */
  background-size: cover;
  position: relative;
  isolation: isolate;
  overflow: hidden;
  color: var(--text-primary-color);
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  gap: 4%;
  /* padding: 5%; */
}

.projectItem,
.card {
  border-radius: 0.2rem;
}

.card > * {
  /* border: solid 1px red; */
}

.card > *:nth-child(3) {
  margin-bottom: auto;
}

.cardTitle {
  font-family: var(--secondary-font);
  color: var(--accent-primary-color);
  font-size: clamp(1.5rem, 1.8vw, 2.5rem);
  letter-spacing: 0.15rem;
  line-height: 1.8rem;
  margin-bottom: auto;
  padding-top: 2rem;
}

.cardDescription {
  color: var(--text-primary-color);
  font-weight: 200;
  font-size: clamp(0.6rem, 0.9vw, 1.1rem);
  line-height: 1.5rem;
  letter-spacing: 0.2rem;
  padding: 0 0 5% 5%;
  transition: color 0.4s, font-weight 0.4s;
  transition-timing-function: ease;
}

.techIcons,
.cardIcons {
  /* border: solid 1px purple; */
  flex-flow: row nowrap;
  display: flex;
  /* gap: 1vw; */
}

.techIcons {
  /* border: solid 2px red; */
  justify-content: flex-start;
  transition: color 0.4s;
  transition-timing-function: ease;
  gap: 1rem;
}

.techIcon,
.cardIcon {
  display: grid;
  height: 100%;
}

.cardIcons {
  justify-content: flex-end;
  align-self: flex-end;
  width: 50%;
  /* height: 20%; */
  margin-bottom: 0.5rem;
  gap: 0.5rem;
}

.techIcon > * {
  /* border: solid 1px blue; */
  /* color: red; */
  height: 2vh;
  width: 2vw;
}

.srcIcon {
  /* border: solid 1px blue; */
  width: 3.5vw;
  height: 2.5vh;
  margin-bottom: 0.5vh;
  padding-right: 0.5vw;
}

@media (max-width: 689px) {
  .main {
    justify-content: flex-end;
    padding: 2vh 0 0.5vh 15vw;
  }

  .projectList {
    flex-flow: column nowrap;
    align-items: center;
    gap: 4vw;
  }

  .projectItem {
    /* border: solid 1px purple; */
    /* background-color: blue; */
    height: 15rem;
    width: 90%;
  }

  .cardTitle {
    /* padding: 0 2rem; */
    margin-left: 2rem;
  }

  .srcIcon {
    /* border: solid 1px blue; */
    width: 7vw;
    height: 2.8vh;
    margin-bottom: 1vh;
    padding-right: 2vw;
  }

  .techIcon > * {
    /* border: solid 1px blue; */
    /* color: red; */
    height: 1rem;
    width: 1rem;
    margin-left: 5vw;
  }
}

@media (min-width: 689px) and (max-width: 992px) {
  .main {
    padding: 10vh 5vw;
  }

  .projectList {
    padding: 5rem 2rem;
    gap: 2vw;
  }

  .projectItem {
    padding: 2%;
    /* border: solid 1px purple; */
    /* background-color: blue; */
    /* border-radius: 0.5rem; */
    height: 30vh;
    width: 35vw;
  }
}

@media (min-width: 992px) {
  .main {
    padding: 5vh 10vw;
  }

  .projectList {
    justify-content: center;
    gap: 1vw;
  }

  .projectItem {
    padding: 1%;
    display: grid;
    height: 22vw;
    width: 22vw;
  }
}
