.card {
    border: solid 2px rgb(0, 0, 255);
    /* border-radius: 53px; */
    gap: 0.5rem;
    /* height: 100%; */
    width: 100%;
    display: flex;
    /* gap: 2rem; */
    overflow: hidden;
    flex-flow: row nowrap;
    justify-content: flex-start;
    /* align-items: flex-end; */
}

.cardTextWrapper > * {
    /* border: solid 1px red; */
}

.imageWrapper {
    /* border: solid 1px blue; */
    /* border-radius: 53px 0 0 53px; */
    width: 60%;
    /* height: 100%; */
    overflow: hidden;
    /* display: grid; */
}

.cardTextWrapper {
    /* border: solid rgb(204, 0, 180) 1px; */
    display: flex;
    width: 40%;
    flex-flow: column;
    /* align-items: center; */
    border-radius: 53px;
    justify-content: space-evenly;
}

.techList {
    display: flex;
    margin: 0 2rem 3rem 2rem;
    gap: 2rem;
    flex-flow: row;
    justify-content: center;
}

.projectIcons {
    /* border: solid red 2px; */
    display: flex;
    gap: 2rem;
    flex-flow: row;
    justify-content: center;
}

.title {
    font-size: 1.5rem;
    padding: 3rem 0 0 1.5rem;
}

.desc {
    font-size: 1.1rem;
    padding: 3rem 1rem 3rem 1.5rem;
}