.projectsWrapper {
  /* background-color: greenyellow; */
  background-color: #1B242F;
  color: #fff;
  /* padding: 2rem 0 4rem 0; */
  padding: 0 4%;
  margin: 0;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  /* background-color: red; */
  width: 100%;
  /* padding: 0; */
  /* height: 100vh; */
  /* margin: 2rem 0; */
  display: flex;
  gap: 0.5rem;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.arrowWrapper {
  /* border: solid 2px blue; */
  width: 5rem;
  /* margin: auto 0; */
}

.h2 {
  letter-spacing: 0.2rem;
}

.projectList {
  /* border: solid 3px rgb(226, 147, 2); */
  /* padding: 1.5rem; */
  /* margin: 1.5rem; */
  width: 100vw;
  /* height: 60vh; */
}

.projectItem {
  /* height: 100%; */
  /* display: none; */
}

.show {
  display: block;
}

.noshow {
  display: none;
}

@media (min-width: 689px) and (max-width: 992px) {
  .projectsWrapper {
    background-color: #1B242F;
    padding: 0;
  }

  .main {
    /* border: solid 2px red; */
    /* background-color: red; */
    position: relative;
  }

  .arrowWrapper {
    /* background-color: blue; */
    position: absolute;
  }

  .arrowLeft {
    left: 0;
  }

  .arrowRight {
    right: 0;
  }

}
 