.main {
  background-color: var(--bg-primary-color);
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}

.h2 {
  letter-spacing: 0.2rem;
}

.projectList {
  width: 100vw;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.projectItem {
  border: solid 2px #141418;
  display: grid;
  height: 20vw;
  width: 20vw;
  transition: transform 0.4s, box-shadow 0.4s;
  transition-timing-function: ease;
}

.projectItem:hover {
  box-shadow: 5px 5px 1px #141418;
  transform: translateX(-8px) translateY(-8px);
}

.projectItem:hover .cardDescription {
  color: var(--accent-primary-color);
}

.projectItem:hover .techIcons {
  color: var(--accent-primary-color);
}

.card {
  background-position: center;
  background-size: cover;
  position: relative;
  isolation: isolate;
  color: var(--text-primary-color);
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  gap: 4%;
}

.projectItem,
.card {
  border-radius: 0.2rem;
}

.card > * {
  /* border: solid 1px red; */
}

.card > *:nth-child(3) {
  margin-bottom: auto;
}

.cardTitle {
  font-family: var(--secondary-font);
  color: var(--accent-primary-color);
  font-size: clamp(1.5rem, 1.8vw, 2.5rem);
  letter-spacing: 0.15rem;
  line-height: 1.8rem;
  margin-bottom: auto;
  padding-top: 2rem;
}

.cardDescription {
  color: var(--text-primary-color);
  font-weight: 200;
  font-size: clamp(0.6rem, 0.9vw, 1.1rem);
  line-height: 1.5rem;
  letter-spacing: 0.2rem;
  padding: 0 0 5% 5%;
  transition: color 0.4s, font-weight 0.4s;
  transition-timing-function: ease;
}

.techIcons,
.cardIcons {
  flex-flow: row nowrap;
  display: flex;
}

.techIcons {
  justify-content: flex-start;
  transition: color 0.4s;
  transition-timing-function: ease;
  gap: 1rem;
}

.techIcon,
.cardIcon {
  display: grid;
  height: 100%;
}

.cardIcons {
  justify-content: flex-end;
  align-self: flex-end;
  width: 50%;
  margin-bottom: 0.5rem;
  gap: 0.5rem;
}

.techIcon > * {
  height: 2vh;
  width: 2vw;
}

.srcIcon {
  width: 3.5vw;
  height: 2.5vh;
  margin-bottom: 0.5vh;
  padding-right: 0.5vw;
}

.srcIcon:hover {
  color: var(--accent-primary-color);
  transition: color 0.4s;
  transition-timing-function: ease;
}

.tipContainer {
  position: relative;
  overflow: visible;
  text-align: center;
}

.tip {
  display: none;
}

.tipContainer:hover .tip {
  display: block;
  border-radius: 0.5rem;
  letter-spacing: 0.1rem;
  font-size: 1rem;
  padding: 0.5rem;
  width: 4.8rem;
  background-color: var(--accent-secondary-color);
  color: var(--accent-primary-color);
  position: absolute;
  bottom: 200%;
  left: 50%;
  z-index: 99;
}

@media (max-width: 689px) {
  .main {
    justify-content: flex-end;
    padding: 2vh 0 0.5vh 15vw;
    margin: 1rem 0;
  }

  .projectList {
    flex-flow: column nowrap;
    align-items: center;
    margin: 1rem 0;
    gap: 4vw;
  }

  .projectItem {
    height: 15rem;
    width: 90%;
  }

  .cardTitle {
    margin-left: 2rem;
  }

  .srcIcon {
    width: 7vw;
    height: 2.8vh;
    margin-bottom: 1vh;
    padding-right: 2vw;
  }

  .techIcon > * {
    height: 1rem;
    width: 1rem;
    margin-left: 5vw;
  }
}

@media (min-width: 689px) and (max-width: 992px) {
  .main {
    padding: 10vh 5vw;
  }

  .projectList {
    padding: 5rem 2rem;
    gap: 2vw;
  }

  .projectItem {
    padding: 2%;

    height: 30vh;
    width: 35vw;
  }
}

@media (min-width: 992px) {
  .main {
    padding: 5vh 10vw;
  }

  .projectList {
    justify-content: center;
    gap: 1vw;
  }

  .projectItem {
    padding: 1%;
    display: grid;
    height: 22vw;
    width: 22vw;
  }
}
