.card {
  border: solid 2px rgb(0, 0, 255);
  /* border-radius: 53px; */
  /* gap: 0.5rem; */
  /* height: 100%; */
  width: 100%;
  display: flex;
  /* gap: 2rem; */
  overflow: hidden;
  flex-flow: row nowrap;
  justify-content: flex-start;
  /* align-items: flex-end; */
}

.imageWrapper {
  /* background-color: blue; */
  /* border-radius: 53px 0 0 53px; */
  width: 60%;
  height: 55vh;
  max-height: 100%;
  overflow: hidden;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.cardTextWrapper {
  /* background-color: rgb(204, 0, 180); */
  display: flex;
  width: 40%;
  flex-flow: column;
  /* align-items: center; */
  /* border-radius: 53px; */
  /* justify-content: space-evenly; */
}

.techList {
  display: flex;
  margin: 0 2rem 3rem 2rem;
  gap: 2rem;
  flex-flow: row;
  justify-content: center;
}

.projectIcons {
  /* border: solid red 2px; */
  display: flex;
  gap: 2rem;
  flex-flow: row;
  justify-content: center;
}

.title {
  font-size: clamp(1.5rem, 4.5vw, 4.5rem);
  font-family: var(--primary-font);
  /* color: #B0205E; */
  /* font-weight: 100; */
  /* padding: 1rem 0 0 1rem; */
}

.desc {
  font-size: clamp(0.8rem, 1vw, 1.5rem);
  font-family: var(--primary-font);
  color: #71767D;
  /* padding: 1rem 1rem 1rem 1rem; */
  /* line-height: 1.5rem; */
}

#myVideo {
  /* border: solid 2px rgb(255, 0, 0); */
  height: 100%;
  width: 100%;
  display: flex;
  padding: 0;
  margin: 0;
}

@media (max-width: 688px) {
  .card {
    /* border: solid 2px red; */
    justify-content: center;
    padding-left: 10vw;
  }

  .imageWrapper {
    /* border: solid 2px blue; */
    display: none;
  }

  .cardTextWrapper {
    /* border: solid 1px yellow; */
    width: 100%;
    padding: 5vh 0;
    text-align: center;
  }
}

@media (min-width: 689px) and (max-width: 992px) {
  .main {
    position: relative;
  }

  .cardTextWrapper {
    background-color: rgba(0, 0, 0, 0.313);
    /* display: none; */
    position: absolute;
    padding-right: 2rem;
    top: 0;
    right: 0;
    height: 100%;
  }

  .imageWrapper {
    /* background-color: blueviolet; */
    width: 100%;
  }

}
